.header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.navigation {
  display: flex;
  gap: 20px;
}
.navigation a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.navigation ul {
  
  list-style-type: none;
  padding: 0;
}
.navigation li {
  padding-left: 40px;
  display: inline;
  margin-right: 20px;
}
.navigation a:hover {
  text-decoration: underline;
}
